@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

*{margin:0; padding: 0;}

body{
	background-color: #54c0ff;
}

.header {
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* sombra debaixo do menu */
}

.home {
    display: flex;
    align-items: center;
    gap: 20px;
}

.home a {
    display: flex;
    align-items: right;
    
    background-color: #81d1ff;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 50px; /*o fundo redondinho*/
    
    font-size: 1.5em;

    transition: transform 0.2s ease-in-out;
}

.home a:not(.logo):hover {/* o :not(.logo) tira o efeito de botão apenas da logo!!*/
    background-color: #bfe0ec;
}

.logo{
	margin-right: auto;
}

.logo > span{
	margin-top: 20px;
	font-size: 1.5em;
}

.logo img {
    height: 100px;
    margin-right: 10px;
}

main{
	padding: 40px 20px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px; 
    min-height: 50vh; 
}

.titulo-container {
    flex: 1; 
}

.titulo-container > h1 {
    color: white;
    font-size: 3.8em;
    line-height: 1.2;
    margin: 0;
}

.dados {
    padding: 40px 0;
    text-align: center;
}

.dados > h2 {
    display: inline-block; 
    background-color: #81d1ff; 
    color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 1.8em;
    margin-bottom: 90px; 
}

.bloco-dados {
    display: flex;
    align-items: center;
    gap: 5%; 
    
    margin-bottom: 50px;
	padding: 0 60px;
}

.bloco-dados.reverse {
    flex-direction: row-reverse; /* só inverte a ordem da imagem e do texto*/
}

.imagens {
	flex: 0.7; 
    background-color: #81d1ff;
    border-radius: 25px;
    padding: 10px;
}

.texto-h2,
.texto-container {
    flex: 1; /* os textos ocupam 50% do espaço */
}

.imagens img {
    width: 100%; /* a imagem ocupa todo o espaço do bloquinho dela */
    display: block;
}

.texto-container p {
    color: #FFFFFF;
    text-align: left;
    font-size: 1.7em;
    line-height: 1.6;
    margin: 0;
}


a{
	color: #FFFFFF;
	font-family: 'Merienda', normal;
	text-decoration: none;
	font-weight: bold;
}


h1{
	font-family: 'Merienda', normal;
	color: #FFFFFF ;
	font-style: italic;
	text-align: left;
	font-size: 2.3rem;
	margin-bottom: 30px;
}

p{
	font-family: 'Merienda', normal;
	font-size: 20px;
	color: #FFFFFF;
	text-align: justify;
	text-indent: 20px;
	line-height: 25px;
}

h2{
	font-family: 'Merienda', normal;
	color: #FFFFFF;
	font-size: 1.6rem;
}
.texto-h2 > h2{
	display: inline-block; /*o fundo azul clarinho acompanha o texto do h2*/
	background-color: #81d1ff;
	padding: 15px 30px;
	border-radius: 20px;
	margin-bottom: 50px;
}

.texto-h2 > p{
	font-size: 1.7em;
    line-height: 1.6;
    margin: 0;
}

section{
	padding: 20px;
}

/*#pag-oquee{
	
}

#pag-destinos h2{
	color: #FFFFFF;
}

#pag-destinos p{
	color: #000000;
	margin-top: 20px;
}*/

#container{
	display: grid;
	grid-template-columns: 1fr 1fr; /* Cria duas colunas de tamanho igual */
	gap: 20px; /* Adiciona um espaço entre os cards */
	max-width: 960px;
	margin: 40px auto;
}

.card{
	background-color: #81d1ff;
	margin: 10px;
	/* width: 25%; */
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 4px 8px #81d1ff;
	transition: 0.2s;
	display: flex;
	flex-direction: column;
}

.card:hover{
	box-shadow: 0px 8px 16px #FFFFFF;
}
.card-content{
	padding: 10px; /*padding apenas no conteudo do card, sem alterar a imagem*/
	text-align: center;
	/* display: flex;
	justify-content: space-between; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}

.card img{
	width: 100%;
	height: auto;
}

.card-content p{
	font-family: 'Merienda', normal;
	font-size: 1.3rem;
}

h3{
	font-family: 'Merienda', normal;
	color: #FFFFFF;
	font-size: 1.8rem;
	margin-top: 13px;
}

/*#pag-login{

}

#pag-login p{
	text-align: justify;
	margin-bottom: 10px;
}*/

footer{
	background-color: #212121;
	padding: 20px;
}
footer p{
	text-align: center;
	color: #FFFFFF;
}
footer a{
	color: #C5CAE9;
}
footer a:hover{
	color: #FFFFFF;
}

/*#pag-login{

}

#pag-login p{
	text-align: center;
	margin-bottom: 20px;
}*/

.form{
	background-color: #FFFFFF;
	margin: 10px;
	width: 25%;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0px 4px 8px #898da3;
	margin-left: 700px;
}

form{
	width: 400px;
	margin: 0 auto;
}

input{
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	padding-left: 5px;
	box-sizing: border-box;
	border: 1px solid #C4C4C4;
	color: #777777;
}

label, input{
	font-family: 'Merienda', normal;
	font-size: 1rem;
}

#botoes{
	display: flex;
}

input[type="submit"], input[type="reset"]{
	background-color: #303F9F;
	margin: 20px;
	color: #FFFFFF;
	border: 0;
	border-radius: 5px;
}

input[type="reset"]{
	background-color: #212121;
}


