@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

*{margin:0; padding: 0;}

body{
	background-color: #54c0ff;
}

.header {
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /*teste*/
	align-content: left;
}

.home {
    display: flex;
    align-items: center;
    gap: 20px;
}

.home a {
    display: flex;
    align-items: right;
    
    background-color: #81d1ff;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 50px; /*o fundo redondinho*/
    
    font-size: 1.2em;

    transition: transform 0.2s ease-in-out;
}

.home a:hover {
    background-color: #bfe0ec;
}

.logo img {
    height: 30px;
    margin-right: 10px;
}

main{
	padding: 40px 20px;
}

.dados {
    padding: 40px 20px;
    text-align: center;
}

.dados > h2 {
    display: inline-block; 
    background-color: #81d1ff; 
    color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 1.8em;
    margin-bottom: 40px; 
}

.bloco-dados-esquerda {
    display: flex;
    align-items: center;
    gap: 30px; 
    
    max-width: 900px;
    margin: 0 auto 30px auto;

    background-color: #81d1ff;
    border-radius: 25px;
    padding: 30px;
}

.bloco-dados-direita {
    flex-direction: row-reverse; /* só inverte a ordem da imagem */
}

.imgs,
.texto-container {
    flex: 1; /* as imagens e os textos ocupam 50% do espaço */
}

.imgs img {
    width: 100%; /* a imagem ocupa todo o espaço do bloquinho dela */
    display: block;
}

.texto-container p {
    color: #FFFFFF;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.6;
    margin: 0;
}


a{
	color: #FFFFFF;
	font-family: 'Merienda', normal;
	text-decoration: none;
	font-weight: bold;
}


h1{
	font-family: 'Merienda', normal;
	color: #FFFFFF ;
	font-style: italic;
	text-align: left;
	font-size: 2.3rem;
	margin-bottom: 30px;
}

p{
	font-family: 'Merienda', normal;
	font-size: 20px;
	color: #FFFFFF;
	text-align: justify;
	text-indent: 20px;
	line-height: 25px;
}

h2{
	font-family: 'Merienda', normal;
	color: #FFFFFF;
	font-size: 1.6rem;
}
.texto-h2 h2{
	display: inline-block; /*o fundo azul clarinho acompanha o texto do h2*/
	background-color: #81d1ff;
	padding: 15px 30px;
	border-radius: 20px;
}

section{
	padding: 20px;
}

/*#pag-oquee{
	
}

#pag-destinos h2{
	color: #FFFFFF;
}

#pag-destinos p{
	color: #000000;
	margin-top: 20px;
}*/

#container{
	display: flex;
}

.card{
	background-color: #81d1ff;
	margin: 10px;
	width: 25%;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 4px 8px #BDBDBD;
	transition: 0.2s;
}

.card:hover{
	box-shadow: 0px 8px 16px #BDBDBD;
}
.card-content{
	padding: 10px; /*padding apenas no conteudo do card, sem alterar a imagem*/
	text-align: center;
	display: flex;
	justify-content: space-between;
}

.card-content p{
	font-family: 'Merienda', normal;
	font-size: 1.3rem;
}

h3{
	font-family: 'Merienda', normal;
	color: #FFFFFF;
	font-size: 1.8rem;
	margin-top: 13px;
}

/*#pag-login{

}

#pag-login p{
	text-align: justify;
	margin-bottom: 10px;
}*/

footer{
	background-color: #212121;
	padding: 20px;
}
footer p{
	text-align: center;
	color: #FFFFFF;
}
footer a{
	color: #C5CAE9;
}
footer a:hover{
	color: #FFFFFF;
}

/*#pag-login{

}

#pag-login p{
	text-align: center;
	margin-bottom: 20px;
}*/

.form{
	background-color: #FFFFFF;
	margin: 10px;
	width: 25%;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0px 4px 8px #898da3;
	margin-left: 700px;
}

form{
	width: 400px;
	margin: 0 auto;
}

input{
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	padding-left: 5px;
	box-sizing: border-box;
	border: 1px solid #C4C4C4;
	color: #777777;
}

label, input{
	font-family: 'Merienda', normal;
	font-size: 1rem;
}

#botoes{
	display: flex;
}

input[type="submit"], input[type="reset"]{
	background-color: #303F9F;
	margin: 20px;
	color: #FFFFFF;
	border: 0;
	border-radius: 5px;
}

input[type="reset"]{
	background-color: #212121;
}
