<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Janeiro Branco</title>
		<meta name="author" content="Carina Oliveira, Diego Costa"/>
		<meta name="keywords" content="Janeiro Branco, Saude Mental, Saude, Mental, Janeiro, Branco"/>
		<meta name="description" content="Site informativo sobre o Janeiro Branco, o mês da saúde mental"/>
		<link rel="stylesheet" href="{% static "Janeiro_Branco/css/index.css" %}">
	</head>
	<body>
		<header class="header">
    		<nav class="home">
        		<a href="{% url 'index' %}#inicio" class="logo">
               		<img src="{% static 'Janeiro_Branco/img/fita.png' %}" alt="Laço da campanha Janeiro Branco">
                	<span>Janeiro Branco</span>
        		</a>
        		<ul class="main-nav">
						<li class="nav-item dropdown"> <a href="#">Saiba Mais &#9662;</a> 
							<ul class="dropdown-menu">
								<li><a href="{% url 'index' %}#o-que-e">O que é</a></li>
								<li><a href="{% url 'index' %}#importancia">Importância</a></li>
								<li><a href="{% url 'index' %}#dados">Dados</a></li>
								<li><a href="{% url 'index' %}#prevencao">Prevenção</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown"> <a href="{% url 'explore' %}">Explore &#9662;</a> 
							<ul class="dropdown-menu">
								<li><a href="{% url 'forum' %}">Fórum</a></li>
								<li><a href="{% url 'onde_encontrar_ajuda' %}">Onde encontrar ajuda</a></li>
								<li><a href="{% url 'aplicativos' %}">Aplicativos</a></li>
								<li><a href="{% url 'entenda_mais' %}">Entenda mais</a></li>
							</ul>
						</li>
						<li class="nav-item"><a href="{% url 'somos' %}">Somos</a></li>
						<li class="nav-item"><a href="{% url 'login' %}">Login</a></li>
					</ul>
    		</nav>
		</header>

		<main>

			<main class="page-container">
        <div class="explore-grid">

            <div class="explore-card">
                <div class="card-top">
                    <img src="{% static 'Janeiro_Branco/img/forum.png' %}" alt="Ícone de Fórum">
                    <a href="https://www.calm.com/pt" target="_blank"><h3>Calm</h3></a>
                </div>
                <div class="card-bottom">
                    <p>Para você que busca viver uma vida mais produtiva e aliviar o estresse, o Calm pode um ótimo app de saúde mental. Disponível na App Store e Google Play Store, o aplicativo foca em lidar com problemas de ansiedade, insônia e depressão. Atualmente, o software conta com exercícios de respiração e alongamento, músicas relaxantes, aulas de meditação guiada, dentre outras funcionalidades.</p>
                </div>
            </div>

            <div class="explore-card">
                <div class="card-top">
                    <img src="{% static 'Janeiro_Branco/img/onde-procurar-ajuda.png' %}" alt="Ícone de Onde Encontrar Ajuda">
                    <a href="https://play.google.com/store/apps/details?id=com.getsomeheadspace.android&pcampaignid=web_share" target="_blank"><h3>Headspace</h3></a>
                </div>
                <div class="card-bottom">
                    <p>O Headspace é um programa que estimula o foco e a concentração e visa criar um ciclo de sono reparador. Para isso, ele oferece ferramentas de meditação personalizadas, para trabalhar objetivos específicos, como melhorar o sono e controlar a ansiedade.</p>
                </div>
            </div>

            <div class="explore-card">
                <div class="card-top">
                    <img src="{% static 'Janeiro_Branco/img/aplicativos.png' %}" alt="Ícone de Aplicativos">
                    <a href="https://www.happify.com/" target="_blank"><h3>Happify</h3></a>
                </div>
                <div class="card-bottom">
                    <p>Focado na psicologia positiva, o Happify oferece jogos e tarefas para aliviar o estresse, elevar o bom humor e bem estar. A ideia é aumentar os níveis de felicidade do usuário, por meio de atividades orientadas com base em objetivos. </p>
                </div>
            </div>

            <div class="explore-card">
                <div class="card-top">
                    <img src="{% static 'Janeiro_Branco/img/entenda-mais.png' %}" alt="Ícone de Entenda Mais">
                    <a href="https://www.cingulo.com/" target="_blank"><h3>Cíngulo</h3></a>
                </div>
                <div class="card-bottom">
                    <p>Baseado em terapia digital, o Cíngulo é um app que oferece guia de autoavaliação, diário emocional e programas personalizados com sessões em áudio e texto. Além disso, utiliza a inteligência artificial para te ajudar a resolver questões de saúde emocional.</p>
                </div>
            </div>

		</main>

		<footer>
		<p>Desenvolvido por <a href="https://github.com/Carina-Oliveira1" target="_blank">Carina Santos</a> e <a href="https://github.com/DiegoCCosta" target="_blank">Diego Costa</a> - 2025</p>
		</footer>
	</body>
</html>