<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Onde encontrar ajuda</title>
		<meta name="author" content="Carina Oliveira, Diego Costa"/>
		<meta name="keywords" content="Janeiro Branco, Saude Mental, Saude, Mental, Janeiro, Branco"/>
		<meta name="description" content="Site informativo sobre o Janeiro Branco, o mês da saúde mental"/>
		<link rel="stylesheet" href="{% static "Janeiro_Branco/css/index.css" %}">
	</head>
	<body>
		<header class="header">
    		<nav class="home">
        		<a href="{% url 'index' %}#inicio" class="logo">
               		<img src="{% static 'Janeiro_Branco/img/fita.png' %}" alt="Laço da campanha Janeiro Branco">
                	<span>Janeiro Branco</span>
        		</a>
        		<ul class="main-nav">
						<li class="nav-item dropdown"> <a href="#">Saiba Mais &#9662;</a> 
							<ul class="dropdown-menu">
								<li><a href="{% url 'index' %}#o-que-e">O que é</a></li>
								<li><a href="{% url 'index' %}#importancia">Importância</a></li>
								<li><a href="{% url 'index' %}#dados">Dados</a></li>
								<li><a href="{% url 'index' %}#prevencao">Prevenção</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown"> <a href="#">Explore &#9662;</a> 
							<ul class="dropdown-menu">
								<li><a href="{% url 'forum' %}">Fórum</a></li>
								<li><a href="{% url 'onde_encontrar_ajuda' %}">Onde encontrar ajuda</a></li>
								<li><a href="{% url 'listar_recomendacoes' %}">Recomendações</a></li>
							</ul>
						</li>
						<li class="nav-item"><a href="{% url 'somos' %}">Somos</a></li>
						{% if user.is_authenticated %}
							<li class="nav-item">  <form action="{% url 'logout' %}" method="post" style="display: inline;">
									{% csrf_token %}
									<button type="submit" class="login-button">Logout</button>
								</form>
							</li>
						{% else %}
							<li class="nav-item"><a href="{% url 'login' %}" class="login-button">Login</a></li>
						{% endif %}
					</ul>
    		</nav>
		</header>

		<main>
        
            <section id="links" class="links-uteis">
			<h2>ONDE ENCONTRAR AJUDA?</h2>

			<div class="accordion-container">

        		<details class="accordion-item">
            		<summary class="accordion-title">Instituto Janeiro Branco &#9662;</summary>
            		<div class="accordion-content">
						<a href="https://janeirobranco.org.br/janeiro-branco-2025-um-convite-nacional-para-a-promocao-da-saude-mental/" target="_blank" class="site-button">Clique aqui para ir para o site</a>
						<p><strong>Serviços:</strong> Oferece artigos sobre saúde mental, organiza eventos e em breve terá recursos de apoio e localização de psicólogos por localidade.</p>
						<p>O Instituto é fruto do sucesso da Campanha Janeiro Branco, o maior movimento do mundo dedicado à Saúde Mental. Como uma associação civil sem fins lucrativos, tem a missão de coordenar, promover e expandir os valores e objetivos do movimento Janeiro Branco, que busca fomentar uma cultura global voltada para o cuidado e a promoção da Saúde Mental.</p>
					</div>
        		</details>

				<details class="accordion-item">
            		<summary class="accordion-title">CVV &#9662;</summary>
            		<div class="accordion-content">
						<a href="https://cvv.org.br/" target="_blank" class="site-button">Clique aqui para ir para o site</a>
						<p><strong>Serviços:</strong> Oferece atendimento pelo telefone 188 (24 horas e sem custo de ligação), por chat, e-mail e pessoalmente.</p>
                		<p>Centro de Valorização da Vida é um serviço voluntário gratuito de apoio emocional e prevenção do suicídio para todas as pessoas que querem e precisam conversar, sob total sigilo e anonimato. </p>
						<p>Além dos atendimentos, o CVV desenvolve outras atividades relacionadas à prevenção do suicídio, também contando com artigos com orientações tanto para quem está pensando em suicídio, quanto para quem quer ajudar pessoas passando por esta situação.</p>
            		</div>
       			</details>
				
				<details class="accordion-item">
            		<summary class="accordion-title">Rede Pode Falar &#9662;</summary>
            		<div class="accordion-content">
						<a href="https://www.podefalar.org.br/" target="_blank " class="site-button">Clique aqui para ir para o site</a>
						<p><strong>Serviços:</strong> Foca no atendimento de pessoas entre 13 e 24 anos, através de chatbot, Whatsapp e Telegram. Também disponibiliza um guia com serviços públicos de saúde mental, incluindo CAPS, por localidade.</p>
						<p>A Rede Pode Falar nasceu como um canal de escuta acolhedora e transformou-se em uma rede de instituições e pessoas que não apenas oferecem um serviço de apoio emocional e conteúdos confiáveis em saúde mental, mas também capacitam futuros profissionais da área de cuidado humano, sensíveis às necessidades específicas desse ciclo da vida.</p>
					</div>
        		</details>

				<details class="accordion-item">
            		<summary class="accordion-title">Ame Sua Mente &#9662;</summary>
            		<div class="accordion-content">
						<a href="https://www.amesuamente.org.br/" target="_blank" class="site-button">Clique aqui para ir para o site</a>
						<p><strong>Serviços:</strong> Conta com uma rede de serviços que permite o usuário a encontrar serviços como CAPS, UBS e Hospitais psiquiátricos por localidade. Além de oferecer conteúdos como blogs, artigos e outros sobre saúde mental.</p>
                		<p>O Ame sua Mente nasceu para explorar as possibilidades de promoção da saúde mental a partir do ambiente escolar e, ao mesmo tempo, contribuir com conhecimento científico e técnico para educar e conscientizar a sociedade brasileira sobre o tema. </p>
            		</div>
       			</details>

				<details class="accordion-item">
            		<summary class="accordion-title">Instituto Pride &#9662;</summary>
            		<div class="accordion-content">
						<a href="https://prideinstituto.com.br/" target="_blank" class="site-button">Clique aqui para ir para o site</a>
						<p><strong>Serviços:</strong> Oferece serviços de psicoterapia, psiquiatria, avaliação psicológica e indicação de médicos especializados no atendimentos a pacientes com HIV+ etc.</p>
                		<p>Instituto de saúde mental focado em atender a comunidade LGBTQIAP+ bucando oferecer um espaço de comprometimento com a promoção, prevenção e tratamento integral da saúde dos pacientes, com foco no desenvolvimento da qualidade de vida e do crescimento pessoal, respeitando acima de tudo a diversidade.</p>
            		</div>
       			</details>
    		</div>
		</section>

	</main>

        <footer>
		<p>Desenvolvido por <a href="https://github.com/Carina-Oliveira1" target="_blank">Carina Oliveira</a> e <a href="https://github.com/DiegoCCosta" target="_blank">Diego Costa</a> - 2025</p>
		</footer>
	</body>
</html>