<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<meta name="author" content="Carina Oliveira, Diego Costa"/>
		<meta name="keywords" content="Janeiro Branco, Saude Mental, Saude, Mental, Janeiro, Branco"/>
		<meta name="description" content="Site informativo sobre o Janeiro Branco, o mês da saúde mental"/>
		<link rel="stylesheet" href="{% static "Janeiro_Branco/css/index.css" %}">
	</head>
	<body>
		<header class="header">
    		<nav class="home">
        		<a href="{% url 'index' %}#inicio" class="logo">
               		<img src="{% static 'Janeiro_Branco/img/fita.png' %}" alt="Laço da campanha Janeiro Branco">
                	<span>Janeiro Branco</span>
        		</a>
        		<ul class="main-nav">
						<li class="nav-item dropdown"> <a href="#">Saiba Mais &#9662;</a> 
							<ul class="dropdown-menu">
								<li><a href="{% url 'index' %}#o-que-e">O que é</a></li>
								<li><a href="{% url 'index' %}#importancia">Importância</a></li>
								<li><a href="{% url 'index' %}#dados">Dados</a></li>
								<li><a href="{% url 'index' %}#prevencao">Prevenção</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown"> <a href="{% url 'explore' %}">Explore &#9662;</a> 
							<ul class="dropdown-menu">
								<li><a href="{% url 'forum' %}">Fórum</a></li>
								<li><a href="{% url 'onde_encontrar_ajuda' %}">Onde encontrar ajuda</a></li>
								<li><a href="{% url 'listar_recomendacoes' %}">Recomendações</a></li>
								<li><a href="{% url 'entenda_mais' %}">Entenda mais</a></li>
							</ul>
						</li>
						<li class="nav-item"><a href="{% url 'somos' %}">Somos</a></li>
						<li class="nav-item"><a href="{% url 'login' %}">Login</a></li>
					</ul>
    		</nav>
		</header>

		<main>
		<div class="login-body">
			<div class="login-page-container">

				<div class="login-title-box">
					<h2>LOGIN</h2>
				</div>

				<div class="styled-form-container">
					<form method="POST">

						{% csrf_token %}

						{% if form.errors %}
							<div class="form-errors">
								<p style="color: #ffcdd2; text-align: center; margin-bottom: 15px;">
									Seu nome de usuário ou senha estão incorretos. Tente novamente.
								</p>
							</div>
						{% endif %}

						{{ form.as_p }}

						<button type="submit">Entrar</button>

						<div class="redirect-link">
							<p>Não possui uma conta? <a href="{% url 'cadastro' %}">Cadastre-se</a></p>
						</div>

					</form>
				</div>

			</div>
		</div>

		</main>


        <footer>
		    <p>Desenvolvido por <a href="https://github.com/Carina-Oliveira1" target="_blank">Carina Santos</a> e <a href="https://github.com/DiegoCCosta" target="_blank">Diego Costa</a> - 2025</p>
	    </footer>
	</body>
</html>